.administratormessage {
    padding:2px 2px 2px 10px;font-size:10px;
    font-size:1.2em;
}

.administratormessageerase {
    float:right;
}

.administratormessageerase input {
    padding:2px !important;
    margin:0px !important;
}